.page_btn{
    height: 125px;
    width: 300px;
    font-size: 22px;
    background-color: #00B649;
    color: #000000;
    position: absolute;
}

.product_logo{
    position: absolute;
    height: 250px;
    width: 250px;
}